@media screen and (max-width: 800px){
    .paragraph{
        font-size: 13px;
        padding: 0;
    }
    .container{
        width: 75%;
    }
    .icons{
        font-size: 13px;
        padding-top: 20px;
        /* height: 60px; */
    }
    .circle1{
        padding: 0px 4.5px;
    }
    .circle2{
        padding: 0px 4.5px;
    }
    .body{
        height: 100vh;
    }
    p{
        font-size: 11px;
    }
    
}